body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #656363;
}

.name{
    font-size: 1.5rem;
}

.footer {
    width: 100%;
    background-color: rgb(199, 153, 153);
    color: white;
  }

  .color{
      color: rgb(199, 153, 153);
  }